.checkoutContainer {
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction:row;
  font-family: 'Poppins';

}

.checkoutPersonal {
  display: flex;
}

.productToggle {
  display: none;
}



.shippingTitle{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}



@media (max-width: 650px) {
  .checkoutPersonal {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .formPersonal {
    opacity: 0.2;
  }

  .productToggle {
    width: 100vw;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.3rem 1rem 1.7rem;
    background-color: #b326ff;
    color: white;
    font-size: 1rem;
  }

  .totToggle {
    font-size: 1.2rem;
  }

  .purchaseToggle {
    display: block;
    position: relative;
    margin-top: 4rem;
    top: 0px;
    left: -69px;
    background-color: white;
    transition: 0.5s linear;

  }

  .noPurchaseToggle { 
    display: none;
  }
}