.categoriesContainer{
 
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  margin-left: 230px;
  margin-bottom: 30px;
}


.categoriesContainer select{
  width: 250px;
  padding: 5px 10px;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  background-color: var(--gray-50);
  color:  var(--black);

  border-radius: 4px;
  
}


@media (max-width: 500px) {
  .categoriesContainer{
    margin-left: 30px;
  }
}