.content {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
}

.title {
  font-size: 33px;
  font-weight: 600;
  font-family: 'Poppins';
  margin-bottom: 60px;
  color: var(--black);
}

.cartTable {
  font-family: 'Poppins';
  width: 100%;
  max-width: 850px;
}


.cartTable th, .cartTable td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--black);
  color: var(--black);
}

.cartTable th {
  color: var(--black);
  text-transform: uppercase;
  text-align: left;
}

.imageProd {  
  width: 2.5rem;
  height: 2.5rem;
}

.imageProd img{  
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}


.count {
  outline: none;
  padding: 5px 10px;
  background-color: var(--black);
  border: none;

  margin: 0px 7px;
  color: white;
}

.total {
  margin-top: 10px;
  width: 294.39px;
  height: 170px;
  border: 1px solid var(--black);
  font-family: 'Poppins';
  color: var(--black);
}

.name span {
  display: none;
}

.total tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.total span {
  font-weight: normal;
}

.total th {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--black);
  color: var(--black);
}



.titleTotal {
  margin-top: 50px;
  font-size: 26px;
  font-weight: 600;
  color: var(--black);
  font-family: 'Poppins';
}

.total tbody tr th td {
  display: flex;
  justify-content: space-between;
}

.finalizePurchase {
  width: 294.39px;
  padding: 10px 20px;
  background-color: var(--black);
  color: white;
  border-radius: 20px;
  outline: none;
  margin-top: 20px;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
}

.removeItem {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.removeItem img {
  width: 100%;
  height: 100%;
}

.noProducts {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalPerProd span {
  display: none;
}

.price span{
  display: none;
}

.qtd{
  display: none;
}

.qtdButtons {
  width: 140px;
}




@media (max-width: 500px) {
  .cartTable th, .cartTable td {
    border: none;
  }

  .title {
    font-size: 2.9rem;
    margin: 0 45px;
  }

  .cartTable {
    border-spacing: 0 40px;
  }

  .cartTable tbody td{
    display: flex;
    flex-direction: row;
  }

  .cartTable tbody{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tab {
    margin-right: 20px;
    margin-left: 20px;
  }

  .cartTable thead th {
    display: none;
  }


  .tbody tr td{
    text-align:end;
  }

  .tbody tr {
  
    border-radius: 4px;
    margin-bottom: 23px;
  }

  .cartTable tbody tr td:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .cartTable .imageProd {
    width: 20.5rem;
    height: 20.5rem;
    overflow: hidden;
  }

  .cartTable .imageProd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cartTable tbody tr td span {
    display: flex;
    font-weight: 600;
  }

  .amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .qtd {
    display: flex;
  }

  .amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .qtdButtons {
    width: 80px;
    display: flex;
    flex-direction: row;
    
  }
  
  .qtdButtons span {
    align-items: center;
  }

  .totalPerProd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .d {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .titleTotal {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .total tbody {
    font-size: 17px;
  }

  .tabTotal {
    display: flex;
    justify-content: center;
  }


  .finalizePurchaseContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .finalizePurchase {
    padding: 16px 20px;
    font-size: 17px;
  }

  .noProducts span{
    margin: 0 13px;
  }

  .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
}