.successfulyContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-size: 1rem;
}

.textSuccessfuly {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textSuccessfuly span {
  color: var(--pink);
  cursor: pointer;
}

@media (max-width:600px) {
  .textSuccessfuly {
    margin-top: 4rem ;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0rem 2rem;
    text-align: center;
  }
}