.formCheckout {
  display: flex;
  flex-direction:column;
  color: var(--black);
}


.formCheckout label{
  font-size: 0.9rem;
}



.emailField:focus {
  outline: none !important;
  border-color: var(--pink);
  box-shadow: 0 0 10px  var(--pink);
}

.contentForm{
  padding-left: 7rem;
  padding-top: 3rem;
}

.publicPlace {
  display: flex;
}

.location {
  display: flex;
}

.labelData {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 20px 0;
}

.labelContact {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.labelAdress{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.labelCharge {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.pac {
  padding: 30px;
  height :107px;
  width: 310px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  border-radius: 4px;
  background-color: white;
  margin-bottom: 40px;
}

.pacSelected {
  padding: 30px;
  height :107px;
  display: flex;
  width: 310px;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0, 92, 200, 0.7);
  border-radius: 4px;
  background-color: white;
  margin-bottom: 40px;
}

.sedex {
  padding: 30px;
  height :107px;
  display: flex;
  width: 310px;
  align-items: center;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  border-radius: 3px;
  background-color: white;
  margin-bottom: 60px;
}

.sedexSelected {
  padding: 30px;
  height :107px;
  display: flex;
  align-items: center;
  width: 310px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0, 92, 200, 0.7);
  background-color: white;
  margin-bottom: 60px;
}


.text {
  font-size: 0.73rem;
  text-align: justify;
}

.price {
  margin-bottom: 10px;
}

.priceAndText {
  margin-left: 56px;
}

.buttonContinue {
  width: 41.3rem;
  display: flex;
  justify-content: flex-end;
}

.toBeContinued {
  margin: 200px 0;
  margin-bottom: 5rem;
  width: 41.2rem;
  height: 2.7rem;
  outline: none;
  border: none;
  background-color: #c288cf;
  color: white;
  font-family: 'Poppins';
  padding: 5px 9px;
  border-radius: 5px;
  
}

.noToBeContinued {
  margin: 320px 0;
  margin-bottom: 5rem;
  width: 41.2rem;
  height: 2.7rem;
  outline: none;
  border: none;
  background-color: #c288cf;
  color: white;
  font-family: 'Poppins';
  padding: 5px 9px;
  border-radius: 5px;
}


.shippingTitle{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.select {
  width: 14.2rem !important;
}

.docNumber {
  display: flex;
}
.docType {
  width: 8rem;
  height: 3.4rem;
  margin-right: 20px;
  color: #777;
  font-weight: 600;
  background-color: #ececec;
  padding-left: 24px;
  padding-right: 42px;
  border-radius: 3px;
  transition: all 375ms ease-in-out;
  font-family: var(--font-open);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
  direction: ltr;
  background-image: url('https://lh6.googleusercontent.com/proxy/LnbzEmBi9EQVYlCQcxOShrhtbeICdW0N7dlFEn4VAFKB6auDhYegFVQg665RROyDao0FKOBxjTmjMYH0GAVwvPkItxRnUjznsRyzl8y4ZogsqPW9usbsjzAlADHQIUkpw1m8=s0-d');
  background-repeat: no-repeat;
  background-position: calc(100% - 18px);
}

.docn {
  width: 28rem;
}

.shippingOptions {
  display: flex;

  justify-content: space-between;
}

.shipping {
  position: absolute;
  top: 930px;
  width: 662px;
} 

.shippingInput {
  display: flex;
}

.shippingTitle {
  color: var(--black);
}

.searchCep {
  display: flex;
  flex-direction: column;
}

.circularCalc {
  margin-left: 70px;
  margin-top: 5px;
}

.searchCep button{

  margin-bottom: 64px;
  margin-left: 30px;
  outline: none;
  padding: 14px;
  border-radius: 4px;
  background-color: var(--pink);
  color: white;
  font-family: 'Poppins';
  border: none;
}

.circular {
  margin-top: 290px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

@media (max-width:650px) {
  .checkoutContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
    
  }

  .cep {
    width: 13.6rem;
  }

  .circular {
    margin-top: 35rem;
  }

  .shipping {
 
    position: absolute;
    top: 864px;
    width: 662px;

    display: flex;
    flex-direction: column;
    align-items: center;
  } 


  .contentForm{
    position: absolute;

    padding-left: 0;


    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }


  .shippingInput {
    display: flex;
  }

  .formCheckout {
    width: 22rem;
    padding-top: 4rem;
  }

  .shippingOptions {
    display: flex;
    flex-direction:column;
  }

  .toBeContinued {
    width: 22rem;
    height: 4rem;
    background-color: #c288cf;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .noToBeContinued {
    margin-top: 35rem;
    width: 22rem;
    height: 4rem;
    background-color: #c288cf;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .emailField {
    color: var(--pink);
  }

  .searchCep {
    display: flex;
    flex-direction:column;
  }

  .select {
    width: 8rem !important;
    height: 3.82rem !important;
  }

  .buttonContinue{
    width: 0rem;
    display: block;
  }
  

  .pac{
    padding: 30px;
    height :107px;
    width: 310px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    border-radius: 4px;
    background-color: white;
    margin-bottom: 40px;
  }
  
  .pacSelected {
    padding: 30px;
    height :107px;
    display: flex;
    align-items: center;
    border: 1px solid var(--pink);
    border-radius: 3px;
    background-color: white;
    margin-bottom: 40px;
  }

  .sedex {
    padding: 30px;
    height :107px;
    display: flex;
    width: 310px;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: white;
    margin-bottom: 60px;
  }

  .sedexSelected {
    padding: 30px;
    height :107px;
    display: flex;
    align-items: center;
    border: 1px solid var(--pink);
    border-radius: 3px;
    background-color: white;
    margin-bottom: 40px;
  }

}
