.container {
  margin-top: 3.6rem;
  font-family: 'Poppins', sans-serif;
}
.topic {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  margin-bottom: 3.9rem;
  font-family: 'Poppins', sans-serif;
  color: #222222;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
}

.titleProd {
  padding: 5px 10px;
  line-height: 24px;
  font-weight: 600;
  font-size: 24px;
}

.dash {
  margin: 0 0.9rem;
  width: 60px;
  border-top: 3px solid black;
  display: block;
  text-align: center;
}

.contentHome {
  
  display: flex;
  justify-content: center;
}

.showTheRest {
  width:100%;
  display: flex;
  justify-content: center;
}

.showTheRest button {
  outline: none;
  cursor: pointer;
  border: 3px solid var(--pink);
  font-family: 'Poppins';
  font-weight: 500;
  color: var(--black);
  padding: 6px;
  margin-bottom: 4rem;
}

.dropDownContainer {
  margin-left: 135px;
}

.removeButton {
  display: none;
}
.createB {
  display: flex;
}

@media (max-width: 500px) {
  .contentHome {
    margin-left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, minmax(167.5px, 1fr));
    gap: 15px;
    padding: 0 auto;
  }

  .dropDownContainer {
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
  }
}