
.hidden {
  height: 1rem; 
}

.buttonPayment {
  position: relative;
  top: 145px;
  margin: 0rem -1.6rem;

  width: 40rem;
  height: 3rem;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  background-image: linear-gradient(to right, var(--pink), #b86384);
  color: white;
  font-family: 'Poppins';
  padding: 5px 9px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .buttonPayment {
    top: 100px;
    margin-bottom: 2rem;
    width: 24rem;
  }
  
}