.formCard {
  width: 40rem;
  display: flex;
  flex-direction: column;
  background-color: white;

  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
}

.cardInputs {
  padding: 1.5rem 2rem;
}

.fieldsForm {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem 0rem 1rem;
}

.expAndCvv {
  display: flex;
  justify-content: space-between;
}

.fields{
  display: flex;
  flex-direction: column;
}

.fieldsForm {
  display: flex;

}

.cardName {
  margin-right: 15px;
}

.cardName input{
  width: 18.3rem;
  height: 2.4rem;
}

.cardExpiration {
  margin-right: 15px;
}

.cardExpiration input{
  width: 10.5rem;
  height: 2.4rem;
}

.cardCvv input{
  width: 5.1rem;
  height: 2.4rem;
}

.nameNasCv {
  display: flex;
  align-items: space-between;
}

.formCard label{
  margin-top: 5px;
  margin-bottom: 5px;
}

.formCard input {
  font-family: 'Poppins';
  height: 2.4rem;
  padding: 4px 12px;
  color:var(--black);
}

.formCard select {
  height: 2.4rem;
}

.formCard input:focus {
  outline: none !important;

}

.formCard select:focus {
  outline: none !important;
}

.exp {
  display: flex;
  flex-direction: row !important;
}

.expY {
  width: 5.1rem !important;
  height: 2.4rem;
}

.expM {
  width: 5.1rem !important;
  height: 2.4rem;
}

.cvvCard {
  display: flex;
  flex-direction: column;
}

.cvvCard input{
  width: 6.14rem;
  height: 2.4rem;
}

.nameCard {
  width: 16.1rem;
  height: 2.4rem;
}

.exp span {
  font-size: 1.5rem;
  color: var(--black);
  margin: 0 5px;
}

.hidden {
  height: 1rem; 
}

.buttonPayment {
  position: relative;
  top: 205px;
  margin: 0rem -2rem;

  width: 40rem;
  height: 3rem;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  background-image: linear-gradient(to right, var(--pink), #b86384);
  color: white;
  font-family: 'Poppins';
  padding: 5px 9px;
  border-radius: 5px;
}

.installments {
  height: 2.4rem;

  color: var(--black);
  font-family: 'Poppins';
  font-size: 0.95rem;
  padding: 0 6px;
}

.docType {
    display: flex;
    margin-top: 2rem;
    max-width: 130px;
    min-height: 40px;

    & select {
      width: 100%;
      position: initial;
      color: #777;
      font-weight: 600;
      background-color: #ececec;
      padding-left: 24px;
      padding-right: 42px;
      border-radius: 3px;
      transition: all 375ms ease-in-out;
      font-family: var(--font-open);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-align-last: center;
      direction: ltr;
      background-image: url('https://lh6.googleusercontent.com/proxy/LnbzEmBi9EQVYlCQcxOShrhtbeICdW0N7dlFEn4VAFKB6auDhYegFVQg665RROyDao0FKOBxjTmjMYH0GAVwvPkItxRnUjznsRyzl8y4ZogsqPW9usbsjzAlADHQIUkpw1m8=s0-d');
      background-repeat: no-repeat;
      background-position: calc(100% - 18px);
    }
}

.imageCard {
  display: block;
  position: relative;
  margin-left: 33rem;
  top: -2rem;
}

.docNumber {
  display: flex;
}
.docType {
  width: 8rem;
  height: 2.96rem !important;
  margin-right: 20px;
  color: #777;
  font-weight: 600;
  background-color: #ececec;
  padding-left: 24px;
  padding-right: 42px;
  border-radius: 3px;
  transition: all 375ms ease-in-out;
  font-family: var(--font-open);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
  direction: ltr;
  background-image: url('https://lh6.googleusercontent.com/proxy/LnbzEmBi9EQVYlCQcxOShrhtbeICdW0N7dlFEn4VAFKB6auDhYegFVQg665RROyDao0FKOBxjTmjMYH0GAVwvPkItxRnUjznsRyzl8y4ZogsqPW9usbsjzAlADHQIUkpw1m8=s0-d');
  background-repeat: no-repeat;
  background-position: calc(100% - 18px);
}

.docn {
  width: 27rem;
}

.docGroup {
  display: flex;
  flex-direction: column;
}

.progress {
  position: relative;
  top: 205px;
  margin: 0rem -2rem;
  left: 290px;
}


@media (max-width:650px) {
  .formCard{
    width: 24rem;
  }


.fieldsForm {
  display: flex; 
  margin: 0rem 2rem 0rem 0rem;
}

  .nameNasCv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .docn {
    width: 11rem;
  }

  .buttonPayment {
    width: 24rem;
  }

  .nameCard {
    width: 19.87rem;
    height: 2.4rem;
  }
}
