.footerContainer {
  height: 16rem;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.footerInfo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.paymentMethod h2 {
  margin-bottom: 2.1rem;
  color:#b563cf;
}

.contact h2 {
  margin-bottom: 0.5rem;
  color:#b563cf;
}

.emailContact {
  display: flex;
}

.icon {
  margin-top: 2px;
  margin-right: 3px;
}

.location {
  display: flex;
}

.socialMedia {
  cursor: pointer;
}

.socialMedia div{
  margin-right: 6px;
}

.medias {
  display: flex;
}

.socialMedia h2{
  margin-bottom: 2rem;
  color:#b563cf;
}

.rights {
  font-size: 13px;
  margin-top: 4rem;
  margin-left: 8.8rem;
}

.rights span {
  color:#b563cf;
  cursor: pointer;
}

@media (max-width: 500px) {
  .footerContainer {
    height: 29rem;
  }
  
  .paymentMethod h2{
    margin-right: 2.4rem;
    margin-bottom: 0.8rem;
  }

  .footerInfo{
    display: flex;
    flex-direction: column;
  }


  .contact h2 {
    margin: 0.9rem 0rem;
    color:#b563cf;
  }

  .socialMedia h2{
    margin: 2rem 8.6rem 1rem 0rem;
    color:#b563cf;
  }

  .rights {
    margin: 1rem 4rem;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 412px) {
  .rights {
    margin: 1rem 5.4rem;
    display: flex;
    justify-content: center;
  }
}