.pink {
  width: 30px;
  height: 30px;

  margin-right: 10px;
  background-color: #ff5cfa;
}

.red {
  width: 30px;
  height: 30px;

  margin-right: 10px;
  background-color: #ff4040;
}

.orange {
  width: 30px;
  height: 30px;

  margin-right: 10px;
  background-color: #faaf52;
}

.greenLemon {
  width: 30px;
  height: 30px;

  margin-right: 10px;
  background-color: #6bff6b;
}