.colorBorder {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}



.active {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #a323de;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}