.containerDetails {
  width: 100vw;
  height: 100vh - 10vh;
  display: flex;  
  margin-left: 13.4rem;
}

.cardWrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.imageDisplay {
  overflow: hidden;
}

.imageShowCase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.imageShowCase img {
  min-width: 100%;
}

.imageSelected {
  display: flex;
}

.imageItem {
  margin: 0.3rem;
}

.imageItem:nth-child(1),
.imageItem:nth-child(2),
.imageItem:nth-child(3) {
  margin-right: 0;
}

.imageItem:hover {
  opacity: 0.8;
}

.productContent {
  padding: 2rem 1rem;
}

@media screen and (min-width: 992px){
  .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .cardWrapper{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .productImages{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .productContent{
    padding-top: 0;
  }
}